@using Sandbox.UI
@using Sandbox.UI.Construct

@inherits Panel

<root class=@(Index == PlayerInventory.Weapons.IndexOf( PlayerInventory.ActiveWeapon ) ? "active" : "")>
    <label class="item-name">@(Index < PlayerInventory.Weapons.Count ? PlayerInventory.Weapons[Index].DisplayName : "empty")</label>
    <label class="slot-number">@(Index + 1)</label>
</root>

@code
{
    public int Index { get; set; }
    public PlayerInventory PlayerInventory { get; set; }

    protected override int BuildHash() => System.HashCode.Combine(PlayerInventory.Weapons.IndexOf(PlayerInventory.ActiveWeapon));
}
