.ToolGunMenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    pointer-events: all;
    z-index: 0;

    .ToolBox {
        font-size: 15px;
        background-color: rgba(#111, 0.5);
        backdrop-filter: blur(10px);
        //border: 10px solid #3273EB;
        border-radius: 10px;
        width: 50%;
        height: 50%;
        align-items: flex-start;
        flex-direction: column;

        .Title
        {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            justify-content: center;
            text-align: center;
            width: 100%;
            font-size: 30px;
            background-color: #3273EB;
        }
        .ValueBox {
            width: 100%;
            padding: 5px;
            flex-direction: row;
            text-align: center;
            align-items: center;
            justify-content: flex-start;
            border: 2px solid #464646ab;

            .ValueName {
                font-weight: bold;
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 2px;
                background-color: #464646ab;
                width: 10%;
                height: 100%;
            }

            .Value {
                
            }
        }
        .Button {
            background-color: #464646ab;
            border: 10px solid transparent;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            font-size: 15px;
            margin: 0;
            //outline: none;
            padding: 4px;
            
            position: relative;
            text-align: center;
            align-items: baseline;
            white-space: nowrap;
        }

        .Button:hover,
        .Button:focus {
            background-color: #3a3a3aab;
        }

        .Button:focus {
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.15);
        }

        .Button:active {
            background-color: #202020ab;
            box-shadow: none;
        }

        

    }
}

