Health {
    position: absolute;
    right: 100px;
    bottom: 48px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0 30px;
    align-items: center;
    font-family: Poppins;
    background-color: rgba( #111, 0.2 );
}
