@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title">@ToolName</div>
	<div class="description">@ToolDes</div>
</root>

@code
{

	[Property, TextArea] public string ToolName { get; set; }
	[Property, TextArea] public string ToolDes { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( ToolName, ToolDes );
}