@using System.Threading.Tasks;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root class="spawnpage columned">
	<div class="nav">
		<div class="section">
			<PackageSortButtonGroup Value:bind=@SortOrder></PackageSortButtonGroup>
		</div>

		<div class="section grow">
		</div>

		<div class="section">
			<button active=@LocalOnly @onclick=@(() =>{ LocalOnly = !LocalOnly; } )>Local Only</button>
		</div>
	</div>

	<div class="contents">
		<PackageList Query=@GetQueryString() OnIconPressed=@SpawnPackage></PackageList>
	</div>
</root>


@code
{
	string SortOrder { get; set; } = "updated";

	bool LocalOnly = false;

	public string GetQueryString()
	{
		var sort = $"sort:{SortOrder}";
		var local = LocalOnly ? "local:true" : "";

		var str = $"{sort} {local} type:addon +game:softsplit.sandbox +runtime +entity -npc";

		return str;
	}

	void SpawnPackage(Package package)
	{
		ConsoleSystem.Run("spawnpackage", package.FullIdent);
	}
}
