@using System.Threading.Tasks;
@using Sandbox.UI;
@using Softsplit;
@inherits Panel;

<root class="spawnpage columned">
	
        @for (var index = 0; index < _EntitiesRepository.Count; index++)
        {
            EntityInfo info = _EntitiesRepository[index];
           

            <div class="ent" onclick=@(() => SpawnEnt(info))>
                <div class="background" />
                <div class="item">
                    <img src=@info.Icon.ResourcePath />
                </div>

               
                <text class="name">@(info.Name)</text>
            </div>
        }

</root>


@code
{
    public List<EntityInfo> _EntitiesRepository { get; set; }

    public void SpawnEnt(EntityInfo info)
    {
        ConsoleSystem.Run("spawnent", info.PrefabPath);
    }


    public EntityList()
    {
        _EntitiesRepository = PrefabLibrary.FindByComponent<SpawnableEntity>()
        .Where(prefab => prefab.Path.Contains("entities"))
        .Select(prefab =>
        {
            var spawnMenuComponent = prefab.GetComponent<SpawnableEntity>();
            return new EntityInfo(
            prefab.Path,
            spawnMenuComponent.Get<string>("Name"),
            spawnMenuComponent.Get<string>("Description"),
            Texture.Load(FileSystem.Mounted, spawnMenuComponent.Get<IconSettings>("Icon").Path)
        );
        }).ToList();
    }


}
