@using Sandbox.UI
@using Sandbox.UI.Construct

@inherits Panel

<root class="entry @(Client == Connection.Local ? "me" : "")">
    <label class="name">@Client.DisplayName</label>
    <label class="kills">0</label>
    <label class="deaths">0</label>
    <label class="ping">@Client.Ping</label>
</root>

@code
{
    public Connection Client { get; set; }

    RealTimeSince timeSinceUpdate = 0;

    public override void Tick()
    {
        if (!IsVisible)
            return;

        if (Client is null)
            return;

        if (timeSinceUpdate < 0.1f)
            return;

        timeSinceUpdate = 0;
    }

    public virtual void UpdateFrom(Connection client)
    {
        Client = client;
    }
}
