KillFeed {
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 100;
    flex-direction: column-reverse;
    width: 500px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    align-items: flex-end;
}
