@using System
@using System.Linq
@using Sandbox
@using Sandbox.UI
@using Sandbox.UI.GameMenu
@inherits Panel
@attribute [StyleSheet]

<root style="flex-direction: column;">
    <div class="navbar">
        <div class="left">
            <a class="button" href="/">Home</a>
            <span class="block">&gt;</span>
            <span class="block">Settings</span>
        </div>
        <div class="right">
        </div>
    </div>
    <section class="scroll">
        @foreach ( var group in Input.GetActions().GroupBy( x => x.GroupName ) )
        {
            <h2>@group.Key</h2>
            <div class="form">
            @foreach ( InputAction action in group )
            {
                <FormGroup>
                    <Label>@action.Name</Label>
                    <Control>
                        <KeyBind Game=@IGameInstance.Current Action=@action class="glass with-padding with-grow with-click"></KeyBind>
                    </Control>
                </FormGroup>
            }
            </div>
        }
    </section>
    <div class="navbar">
        <div class="left">
            <span class="button primary" onclick="@RestoreDefaults">Restore Defaults</span>
        </div>
        <div class="right">
            <span class="button primary" onclick="@SaveChanges">Save Changes</span>
        </div>
    </div>
</root>

@code
{
    public void CancelChanges()
    {
        foreach (var kb in Descendants.OfType<KeyBind>())
        {
            kb.Cancel();
        }
    }

    public void RestoreDefaults()
    {
        IGameInstance.Current.SaveBinds();
    }

    public void SaveChanges()
    {
        foreach (var kb in Descendants.OfType<KeyBind>())
        {
            kb.Apply();
        }

        IGameInstance.Current.SaveBinds();
    }

}
