MapSelectButton {
    border: 1px solid #0006;
    background-color: #0002;
    width: 100%;
    padding: 8px;
    gap: 16px;

    .card-image {
        width: 74px;
        height: 74px;
        background-position: center;
        background-size: cover;
    }

    .information {
        flex-direction: column;
        flex-grow: 1;
        gap: 4px;

        .title {
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .credit {
            font-size: 16px;
            gap: 5px;
            opacity: 0.5;
        }

        .meta {
            font-size: 16px;
            gap: 6px;
            opacity: 0.3;

            > div {
                gap: 3px;
            }
        }
    }

    .button {
        flex-shrink: 0;
        border-radius: 5px;
        background-color: #ffffff03;
    }
}
