@using Sandbox.UI

@inherits Panel

<root class="spawnpage columned">
    <div class="nav">
        <div class="section">
            <TextEntry @ref="SearchInput" onsubmit="@Search" Placeholder="Search..." />
        </div>

        <div class="section grow" />

        <div class="section">
            <PackageSortButtonGroup Value:bind=@SortOrder />
        </div>
    </div>

    <div class="contents">
        <PackageList Query=@GetQueryString() OnIconPressed=@SpawnPackage />
    </div>
</root>

@code
{
    public string SortOrder { get; set; } = "popular";
    public string SearchTerm { get; set; } = "";

    public TextEntry SearchInput { get; protected set; }

    public string GetQueryString()
    {
        var sort = $"sort:{SortOrder}";
        var search = !string.IsNullOrEmpty(SearchTerm) ? $"{SearchTerm}" : "";
        var str = $"{sort} {search} type:model";

        return str;
    }

    void Search()
    {
        SearchTerm = SearchInput.Text.Trim();
    }

    void SpawnPackage(Package package)
    {
        ConsoleSystem.Run("spawn", package.FullIdent);
    }

    protected override int BuildHash() => HashCode.Combine(SearchTerm);
}
