{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "debris": "Unset",
    "player": "Unset",
    "glass": "Unset",
    "weapon": "Collide",
    "nocollide": "Ignore",
    "noclip": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "trigger",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "debris",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "glass",
      "r": "Trigger"
    },
    {
      "a": "trigger",
      "b": "glass",
      "r": "Ignore"
    },
    {
      "a": "glass",
      "b": "glass",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "weapon",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "nocollide",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "nocollide",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "weapon",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "nocollide",
      "b": "noclip"
    },
    {
      "a": "noclip",
      "b": "noclip"
    },
    {
      "a": "glass",
      "b": "noclip"
    }
  ],
  "__guid": "c0ed63bc-c23c-4229-b42c-9f58d0edb401",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}