@using Sandbox.UI
@using Sandbox.Network
@using Sandbox.Modals
@attribute [StyleSheet]

<root style="flex-direction: column;">
    <div class="game-title">
    </div>
    <div class="controls">
        @if ( Game.ActiveScene.Title == "ingame" )
        {
            <a class="button" href="/active">Current Game</a>
            <a class="button" onclick=@LeaveGame>Leave Game</a>
            <span style="height: 20px;"></span>
        }
        else
        {
            <a class="button" onclick="@CreateNewGame">Create Game</a>
        }
        <a class="button" onclick="@OpenServerList">Find a Game</a>
        <!-- <a class="button" href="/settings">Settings</a> --> 
        <a class="button" @onclick=@OpenSettings>Settings</a>
        <span style="height: 20px;"></span>
        <a class="button" @onclick=@Game.Close>Quit</a>
    </div>
</root>

@code
{
    void LeaveGame()
    {
        Game.ActiveScene.LoadFromFile( "scenes/lobby.scene" );
    }

    void CreateNewGame()
    {
        Game.Overlay.ShowLauncher( "softsplit.sandbox" );
    }

    void OpenServerList()
    {
        var options = new ServerListConfig()
        {
           GamePackageFilter = "softsplit.sandbox"
        };

        Game.Overlay.ShowServerList( options );
    }

    void OpenSettings()
    {
        Game.Overlay.ShowBinds();
    }
}
