
.gamemainmenu frontpage
{
	margin: 100px 100px;
	gap: 100px;

	.game-title
	{
		background-image: url("menu/title.png");
		background-size: contain;
		background-repeat: no-repeat;
		height: 150px;
	}

	.controls
	{
		flex-direction: column;
		gap: 8px;
		align-items: flex-start;
	}
}