PackageIcon {
  flex-direction: column;
  width: 143px;
  color: #fff;
  margin: 10px;
  overflow: hidden;
  transform: scale(1);
  align-items: flex-start;
  padding: 8px;
  height: 150px;
  border: 1px solid transparent;

  &:hover {
    background-color: rgba(white, 0.01);
    border: 1px solid rgba(white, 0.01);
  }
}

PackageIcon > .icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 100%;
  flex-grow: 1;
  margin-bottom: 5px;
  cursor: pointer;
  opacity: 0.6;

  &:hover {
    transform: scale(1.07);
    opacity: 1;
  }

  &:active {
    transform: scale(0.97);
  }
}

PackageIcon > .author {
  font-size: 11px;
  opacity: 0.2;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

PackageIcon > .title {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
