@inherits PanelComponent
@namespace Softsplit.UI

<root>
	<div class="ToolBox">
		<div class="Title">Duplicator Menu</div>
		<div>
            <FileTree Directory="Dupes" DirectoryItems=@(FileTree.DirectoryItemsFunc("Dupes")) OnItemSelected:@bind="CurrentFile" />
        </div>
	</div>
</root>



@code
{
	[Property] public string CurrentFile { get; set; }



    //DirectoryItems = DirectoryItemsFunc(Directory);
    /*
    <div class="ValueBox">
        <div class="ValueName">Thing to Log</div>
        <TextEntry Value:bind="@ThingToLog" class="Value"></TextEntry>
    </div>
    */

	protected override int BuildHash() => System.HashCode.Combine( CurrentFile );
}