@inherits PanelComponent
@namespace Softsplit.UI

<root class="ToolGunMenu">
	<div class="ToolBox">
		<div class="Title">Duplicator Menu</div>
		<div class="ValueBox" style="height: 300px;">
            <FileTree FileContents="@FileContents" Directory="Dupes" Value:bind="@CurrentFile" />
        </div>
	</div>
</root>



@code
{
	[Property] public string CurrentFile { get; set; }
	[Property] public string FileContents { get; set; }

	protected override int BuildHash() => System.HashCode.Combine( CurrentFile );
}