@inherits PanelComponent
@namespace Softsplit.UI

<root class="ToolGunMenu">
	<div class="ToolBox">
		<div class="Title">Duplicator Menu</div>
		<div class="ValueBox" style="height: 300px;">
            <FileTree Directory="Dupes" Value:bind="@CurrentFile" />
        </div>
        <div style="flex-direction: row">
            <div class="Button">Sponge</div>
            <div class="Button">Sponge</div>
        </div>
	</div>
</root>



@code
{
	[Property] public string CurrentFile { get; set; }

	protected override int BuildHash() => System.HashCode.Combine( CurrentFile );
}