@inherits PanelComponent
@namespace Softsplit.UI

<root class="ToolGunMenu">
	<div class="ToolBox">
		<div class="Title">Scale Menu</div>
	</div>
</root>



@code
{


	//protected override int BuildHash() => System.HashCode.Combine(  );
}