@inherits PanelComponent
@namespace Softsplit.UI

<root class="ToolGunMenu">
	<div class="ToolBox">
		<div class="Title">Set Material Menu</div>
		<div class="ValueBox" style="height: 100%; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <MaterialBrowser Value:bind="@material" />
        </div>
	</div>
</root>



@code
{
	[Property] public string material { get; set; }
	[Property] public string CurrentFile { get; set; }
	[Property] public string FileContents { get; set; }

	protected override int BuildHash() => System.HashCode.Combine( CurrentFile );
}