$primary: #3472e6;
$primary-fg: #f5f8fe;

$form-control-height: 28px !default;

.slider2d {
    flex-grow: 1;
    cursor: pointer;
    min-height: $form-control-height;
    align-items: center;
    padding-right: $form-control-height;
    height: 200px;
    background-color: red;

    > .thumb {
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 1000px;
        transition: all 0.2s ease-out;
        transform: translateX( -50% ) translateY( -50% );
        border: 2px solid rgba( white, 1 );

        &:hover {
        }
    }

    &:active {
        > .thumb {
            width: 40px;
            height: 40px;
        }
    }
}

.slidercontrol {
    flex-direction: row;
    min-width: 50px;
    position: relative;
    flex-shrink: 0;
    flex-direction: row;
    pointer-events: all;
    cursor: pointer;
    gap: 8px;
    flex-grow: 1;
    align-items: center;

    > .inner {
        flex-direction: column;
        flex-shrink: 1;
        flex-grow: 1;
        min-height: 32px;

        > .values {
            color: $primary;
        }

        > .track {
            background-color: rgba( $primary, 0.2 );
            height: 10px;
            margin: 10px 18px;

            > .track-active {
                background-color: $primary;
            }

            > .thumb {
                position: relative;
                background-color: $primary;
                position: relative;
                width: 22px;
                height: 22px;
                box-shadow: 2px 2px 20px #0002;
            }
        }
    }

    > .entry {
        width: 50px;
        flex-shrink: 0;
        flex-grow: 0;

        > textentry {
            text-align: right;
            width: 100%;
            border-radius: 4px;
            padding: 0;
            min-height: 0px;

            > .content-label {
                padding: 0 4px;
            }
        }
    }

    &:active {
        > .inner > .track > .thumb {
            width: 22px;
            height: 22px;
            background-color: #fff;
        }
    }
}

$button-inactive: red !default;
$button-inactive-bottom: $button-inactive !default;
$button-inactive-fg: white !default;
$button-active: $primary;
$button-active-fg: $primary-fg;
$button-size: 50px;

.button {
    cursor: pointer;
    padding: 8px 16px;
    align-items: center;

    i {
        font-size: 28px;
        flex-shrink: 0;
    }

    i:not( :last-child ) {
        margin-right: 10px;
    }

    > iconpanel {
        font-size: 22px;
    }

    &:hover {
        background-color: $button-active;
        color: $button-active-fg;

        &:not( .active ) {
            sound-in: ui.button.over;
        }
    }

    &.active {
        background-color: $button-active;
        color: $button-active-fg;
    }

    &:active {
        sound-in: ui.button.press;
        background-color: $button-active-fg;
        color: $button-active;
    }

    &.tight {
        padding: 8px 8px;
        height: $button-size;
        min-width: $button-size;
        justify-content: center;
    }

    &.disabled {
        opacity: 0.3;
        pointer-events: none;
        // filter: saturate( 0 );
    }

    column {
        flex-shrink: 1;

        .title {
            font-weight: bold;
            font-family: "Poppins";
            font-size: 24px;
            margin-bottom: -5px;
        }

        .subtitle {
            overflow: hidden;
            font-size: 14px;
        }
    }

    &.big {
        i {
            font-size: 48px;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.click-sound {
    &:active {
        sound-in: ui.button.press;
    }
}

.button_group {
    .button {
        margin-right: 0;
        margin-left: 0;
        border-radius: 0;

        &:first-child {
            border-radius: 100px 0 0 100px;
        }

        &:last-child {
            border-radius: 0 100px 100px 0;
        }
    }
}

.button-simple {
    cursor: pointer;
    opacity: 0.7;

    &:hover {
        opacity: 1;

        &:not( .active ) {
            sound-in: ui.button.over;
        }
    }

    &:active {
        opacity: 1;
        sound-in: ui.button.press;
        left: 2px;
        top: 2px;
    }

    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}

.actions {
    button {
        background-color: #3171E6;
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 50px;
        cursor: pointer;
        opacity: 0.8;
        border: 3px solid transparent;
        margin-right: 10px;

        &:hover {
            opacity: 1;
        }

        &:active {
            transform: scale( 0.9 );
        }

        &.is-cancel {
            background-color: #555;
            color: #aaa;
        }

        pointer-events: all;

        &.is-danger {
        }
    }

    &.actions-side-bar {
        position: absolute;
        bottom: 40px;
        width: 200px;
        right: 96px;

        .container {
            flex-direction: column;

            button {
                margin-right: 0;
                margin-top: 10px;
                text-align: center;

                label {
                    width: 100%;
                }
            }
        }
    }
}

$background: #282F3B;

.modal {
    font-family: "Roboto Condensed Light";
    position: absolute;
    left: -1000px;
    right: -1000px;
    top: -1000px;
    bottom: -1000px;
    padding: 1000px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    transition: all 0.1s ease-out;
    background-color: rgba( darken( $background, 0.25 ), 0.99 );
    transform: scale( 1 );
    backdrop-filter: blur( 3px ) contrast( 0.7 ) saturate( 0.3 );
    opacity: 1;
    pointer-events: all;

    &:intro {
        transform: translatey( 100px ) scale( 1.1 );
        backdrop-filter: blur( 0px ) contrast( 1 ) saturate( 1 );
        opacity: 0;
    }

    &:outro {
        transform: translatey( -200px ) scale( 0.95 );
        transition: all 0.2s ease-in;
        backdrop-filter: blur( 0px ) contrast( 1 ) saturate( 1 );
        opacity: 0;
        pointer-events: none;
    }

    .inner-modal {
        flex-direction: column;
        margin: 10px;
        padding: 32px;
        background-color: $background;
        width: 1000px;
        border-radius: 32px;
        height: 100%;
    }

    .modal-body {
        padding: 32px;
        border-radius: 8px;
        opacity: 1;
        transition: all 0.2s ease-out;
        width: 900px;
        height: 70%;
        background-color: $background;
        box-shadow: 30px 30px 200px 50px rgba(black, 0.4 );
        transform: translateY( 0px );
        overflow-y: scroll;

        &.large {
            width: 90%;
            height: 80%;
        }

        &:intro {
            transform: translateY( 100px );
        }

        > .controls {
            margin-top: 30px;
            width: 100%;

            .button {
                border-radius: 8px;
                margin-left: 20px;
                font-size: 40px;
            }
        }

        button, .button, .interactive {
            pointer-events: all;
        }
    }
}

.modal.create-game-modal {
    flex-direction: column;
    gap: 32px;
    align-items: center;

    .inner-modal {
        margin: 100px;
        height: auto;

        > .header {
            .title {
                font-family: Poppins;
                font-size: 50px;
                font-weight: bold;
                opacity: 0.3;
            }

            margin-bottom: 30px;
            flex-shrink: 0;
        }

        > .body {
            flex-grow: 1;
            flex-direction: column;
            margin: 20px 50px;
            margin-bottom: 100px;

            .form-group {
                padding: 16px 0px;
            }

            .form-label {
                width: 200px;
                flex-shrink: 0;
                align-items: center;
                opacity: 0.7;
            }

            .form-control {
                flex-grow: 1;

                textentry {
                    border: 1px solid #0005;
                    background-color: #0002;
                    flex-grow: 1;
                    padding: 5px 5px;
                }
            }
        }

        > .controls {
            gap: 16px;
            align-items: center;
            margin-bottom: 20px;
            flex-shrink: 0;

            .search {
                flex-grow: 1;
                justify-content: flex-start;

                textentry {
                    width: 300px;
                }
            }

            .filters {
                gap: 16px;
            }
        }

        > .actions {
            gap: 16px;
            align-items: center;
            justify-content: flex-end;
            margin-top: 20px;
            flex-shrink: 0;
        }
    }

    serverlistpanel {
        flex-grow: 1;
    }

    .inner-modal {
        width: 1000px;
    }
}
