@using Sandbox.Razor;
@namespace Sandbox.UI

<root class="form-group">

    <div class="form-label">@Label</div>
    <div class="form-control">@Control</div>

</root>

@code
{
    public RenderFragment Label { get; set; }
    public RenderFragment Control { get; set; }
}
