@using System.Threading.Tasks;
@using System;
@using Sandbox.UI;
@inherits Panel;

<root class="button-group">
    <button active="@(Value == "popular")" tooltip="Popular" class="button" @onclick=@(() => Value = "popular")><i>show_chart</i></button>
    <button active="@(Value == "newest")" tooltip="Newest" class="button" @onclick=@(() => Value = "newest")><i>new_releases</i></button>
    <button active="@(Value == "updated")" tooltip="Updated" class="button" @onclick=@(() => Value = "updated")><i>update</i></button>
    <button active="@(Value == "favourites")" tooltip="Most Favourites" class="button" @onclick=@(() => Value = "favourites")><i>thumb_up</i></button>
</root>

@code
{
    public string Value { get; set; }
}
