@using System.Threading.Tasks;
@using System;
@using Sandbox.UI;
@inherits Panel;

<root>
@*	<div class="icon" style="background-image: url( @Package.Thumb )" @onclick=@(() => OnIconPressed?.Invoke() )></div>
*@
</root>

@code
{
@*	public Action OnIconPressed { get; set; }
*@
}
